@charset "UTF-8";
/* SASS */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 10px;
  box-sizing: border-box;
}

html a:visited {
  color: #fff;
}

/*  vvv  Header  vvv  */
.header {
  background-color: #011827;
  height: min-content;
  width: 100vw;
}

.logoContainer {
  display: inline-flex;
  height: min-content;
  margin: 25px 0px 35px 25px;
}

img.logo {
  margin: 0 15px 0 0;
  object-fit: contain;
}

.headline {
  align-self: flex-end;
  margin: 0;
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
  width: min-content;
}
@media screen and (min-width: 700px) {
  .headline {
    width: max-content;
    align-self: flex-end;
    font-size: 3rem;
  }
}
@media screen and (min-width: 1000px) {
  .headline {
    font-size: 4rem;
  }
}

/*  Main menu   */
.mainMenu {
  display: none;
}
@media screen and (min-width: 700px) {
  .mainMenu {
    display: flex;
    color: white;
    justify-content: center;
  }
  .mainMenu :hover {
    color: #8ACFE5;
  }
}
.mainMenu a {
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  width: 15vw;
  height: 50px;
}
@media screen and (min-width: 1000px) {
  .mainMenu a {
    font-size: 2rem;
  }
}

/*  ^^^  Header  ^^^  */
/*  Part 2 start, Buttons, Testimonials, Challenge cards  */
.mainBackgroundImg {
  background-image: url("assets/bgMain.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 270px;
}
@media screen and (min-width: 700px) {
  .mainBackgroundImg {
    height: 350px;
  }
}
@media screen and (min-width: 1000px) {
  .mainBackgroundImg {
    height: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mainBackgroundImg {
    background-image: url("assets/bgMainWide.png");
    background-position: top;
  }
}

.buttonContainer_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.onSiteBtn1 {
  display: block;
  background-color: #8ACFE5;
  border: none;
  border-radius: 4px;
  font-size: 2.4rem;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  padding: 20px 50px;
  margin: 35px 0 30px;
}

.onlineChallenges {
  color: #36769D;
  font-weight: bold;
  font-size: 1.6rem;
  text-decoration: underline;
  margin: 0 0 60px;
}

/*  vvv  Testimonials  vvv  */
.testimonials {
  display: flex;
}

.quote1 {
  display: flex;
}
.quote1 img {
  margin: 0 20px;
  width: 75px;
  height: 75px;
}
.quote1 cite {
  font-size: 2.4rem;
}
.quote1 p {
  font-size: 1.8rem;
  margin: 10px 0;
}

/*  ^^^  Testimonials  ^^^  */
.popularChallenges {
  margin: 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subheading {
  font-size: 3.2rem;
  font-weight: normal;
  margin: 40px 0;
}

.roomTile {
  margin: 30px 0;
  width: 363px;
  height: 446px;
  background-image: url("assets/image 3.png");
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.buttonContainer_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

/*  Part 2 End ^^^, Buttons, Testimonials, Challenge cards  */
.card {
  width: 363px;
  height: 446px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card img {
  width: 100%;
  max-height: 100px;
  /* Anpassa höjden efter behov */
}
.card h2 {
  margin-top: 10px;
}
.card .stars {
  display: flex;
  align-items: center;
}
.card .stars img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.card p {
  margin: 5px 0;
}
.card button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}
