/* SASS */
html body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 12px;
  box-sizing: border-box;
}

.header {
  background-color: #011827;
  height: min-content;
  width: 100vw;
}
.header .logoContainer {
  display: inline-flex;
  height: min-content;
  margin: 25px 0px 35px 25px;
}
.header img.logo {
  margin: 0 15px 0 0;
  object-fit: contain;
}
.header .headline {
  margin: 0;
  color: white;
  width: min-content;
}
@media screen and (max-width: 700px) {
  .header .mainMenu {
    display: none;
  }
}

.mainBackgroundImg {
  background-image: url("assets/image2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.onSiteBtn1 {
  display: block;
  background-color: #8ACFE5;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  padding: 10px 30px;
  margin: 15px;
}
