/* SASS */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 10px;
  box-sizing: border-box;
}

html a:visited {
  color: #fff;
}

h2 {
  font-size: 3.2rem;
  font-weight: bold;
}

h3 {
  font-size: 2.8rem;
  font-weight: normal;
}

/*  vvv  Header  vvv  */
.header {
  background-color: #011827;
  height: fit-content;
}

.logoContainer {
  display: inline-flex;
  align-items: center;
  margin: 25px 0px 35px 25px;
}

img.logo {
  margin: 0 15px 0 0;
  width: 128px;
  height: 82px;
}

.headline {
  margin: 0;
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
  width: min-content;
}
@media screen and (min-width: 700px) {
  .headline {
    width: max-content;
    align-self: flex-end;
    font-size: 3rem;
  }
}
@media screen and (min-width: 1000px) {
  .headline {
    font-size: 4rem;
  }
}

/*  Main menu   */
.mainMenu {
  display: none;
}
@media screen and (min-width: 700px) {
  .mainMenu {
    display: flex;
    color: white;
    justify-content: center;
    width: 100%;
  }
  .mainMenu :hover {
    color: #8ACFE5;
  }
}
.mainMenu a {
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  width: 15vw;
  height: 50px;
}
@media screen and (min-width: 1000px) {
  .mainMenu a {
    font-size: 2rem;
  }
}

/*  ^^^  Header  ^^^  */
/*  Part 2 start, Buttons, Testimonials, Challenge cards  */
.mainBackgroundImg {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 800px) {
  .mainBackgroundImg {
    display: none;
  }
}

.wideBackgroundImg {
  display: none;
}
@media screen and (min-width: 800px) {
  .wideBackgroundImg {
    display: block;
    background-image: url("img/bgMainWide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    aspect-ratio: 16/6;
  }
}

.buttonContainer_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.onSiteBtn1 {
  display: block;
  background-color: #8ACFE5;
  border: none;
  border-radius: 4px;
  font-size: 2.4rem;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  padding: 20px 50px;
  margin: 35px 0 30px;
}

.onlineChallenges {
  color: #36769D;
  font-weight: bold;
  font-size: 1.6rem;
  text-decoration: underline;
  margin: 0 0 60px;
}

/*  vvv  Testimonials  vvv  */
.testimonials {
  display: flex;
}

.quote1 {
  display: flex;
}
.quote1 img {
  margin: 0 25px;
  width: 75px;
  height: 75px;
}
.quote1 cite {
  font-size: 2.4rem;
}
.quote1 p {
  font-size: 1.8rem;
  margin: 8px 0;
}

/*  ^^^  Testimonials  ^^^  */
.popularChallenges {
  margin: 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subheading {
  font-size: 3.2rem;
  font-weight: normal;
  margin: 40px 0;
}

.roomTile {
  margin: 30px 0;
  width: 363px;
  height: 446px;
  background-image: url("img/tile1.jpg");
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.buttonContainer_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

/*  Part 2 End ^^^, Buttons, Testimonials, Challenge cards  */
/*  Part3 /start  Scrolling tiles   */
.cards {
  display: flex;
  justify-content: center;
}

.card {
  width: 363px;
  height: 446px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
.card .tileImg {
  padding: 0;
}
.card h3 {
  margin-top: 5px;
  font-size: 2.8rem;
}
.card .stars {
  display: flex;
  align-items: center;
}
.card .stars img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.card span {
  margin: 5px 0;
}
.card button {
  background-color: #E3170A;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

/*  Part3 /end  Scrolling tiles   */
/*  Part4 /start  Our Story / Booking / Play online     */
.ourStory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: #011827;
  width: 100%;
  height: auto;
}
.ourStory p {
  margin: 80px 0 0;
  padding: 10px;
  font-size: 2.8rem;
  color: #fff;
  text-align: center;
}
.ourStory .storyButton {
  color: #8ACFE5;
  background-color: rgba(138, 206, 229, 0);
  border: 2px solid #8ACFE5;
  border-radius: 4px;
  font-size: 2.4rem;
  font-weight: bold;
  width: 308px;
  height: 66px;
  margin: 35px 0 70px;
}

.bookOn-site_AllChallenges_Container {
  display: block;
}
@media screen and (min-width: 800px) {
  .bookOn-site_AllChallenges_Container {
    display: flex;
  }
}
.bookOn-site_AllChallenges_Container .imageContainer {
  overflow: hidden;
  width: 100%;
  height: auto;
  position: relative;
}
.bookOn-site_AllChallenges_Container .imageContainer img {
  width: 100%;
  height: auto;
  position: relative;
  top: -10px;
  margin-bottom: -35px;
}
.bookOn-site_AllChallenges_Container h2 {
  margin: 25px;
}
.bookOn-site_AllChallenges_Container p {
  font-size: 2.4rem;
  margin: 25px;
}
.bookOn-site_AllChallenges_Container button {
  color: #fff;
  background-color: #E3170A;
  border: 2px solid #8ACFE5;
  border-radius: 4px;
  font-size: 2.4rem;
  font-weight: bold;
  width: 308px;
  height: 66px;
  margin: 35px 0 70px 21px;
}
.bookOn-site_AllChallenges_Container .paddingSpace {
  height: 0;
}

/*  Part4 /end  Our Story / Booking / Play online     */
/*      Footer      */
.footerContaier {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #011827;
  color: #fff;
  height: 566px;
  padding: 45px 22px;
  margin: 0;
  width: 100%;
}
.footerContaier h4 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 6px;
}
.footerContaier p {
  font-size: 1.8rem;
}
.footerContaier li {
  font-size: 1.8rem;
  list-style: none;
}
.footerContaier .listSpace {
  height: 15px;
}
