/* SASS */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 10px;
    box-sizing: border-box;
}

html {
    button {
        cursor: pointer;
    }

    li {
        list-style: none;
    }

    a:visited {
        color: #fff;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;

        &-track {
            background-color: #e3e3e3;
        }

        &-thumb {
            background-color: #011827;

            &:hover {
                background-color: #205c82;
            }
        }
    }
}

h2 {
    font-size: 3.2rem;
    font-weight: bold;
}

h3 {
    font-size: 2.8rem;
    font-weight: normal;
}



/*  vvv  Header  vvv  */
.header {
    background-color: #011827;
    height: fit-content;

}

.logoContainer {
    display: inline-flex;
    align-items: center;
    margin: 25px 0px 35px 25px;
}

img.logo {
    margin: 0 15px 0 0;
    width: 128px;
    height: 82px;
}

.headline {
    margin: 0;
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
    width: min-content;

    @media screen and (min-width: 700px) {
        width: max-content;
        align-self: flex-end;
        font-size: 3rem;
    }

    @media screen and (min-width: 1000px) {
        font-size: 4rem;
    }
}

/*  Main menu   */

.mainMenu {
    display: none;

    @media screen and (min-width: 700px) {
        display: flex;
        color: white;
        justify-content: center;
        width: 100%;


        :hover {
            color: #8ACFE5;
        }
    }

    a {
        display: flex;
        font-size: 1.8rem;
        font-weight: bold;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        width: 15vw;
        height: 50px;

        @media screen and (min-width: 1000px) {
            font-size: 2rem;
        }
    }
}

/*  ^^^  Header  ^^^  */

/*  Part 2 start, Buttons, Testimonials, Challenge cards  */

.mainBackgroundImg {
    width: 100%;
    height: auto;

    @media screen and (min-width: 800px) {
        display: none;
    }
}

.wideBackgroundImg {
    display: none;

    @media screen and (min-width: 800px) {
        display: block;
        background-image: url('img/bgMainWide.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        aspect-ratio: 16/6;
    }
}

.buttonContainer_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.onSiteBtn1 {
    background-color: #8ACFE5;
    color: #011827;
    border: none;
    border-radius: 4px;
    font-size: 2.4rem;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    padding: 20px 50px;
    margin: 35px 0 30px;

    &:hover {
        background-color: #7dc5dd;
    }

    &:active {
        box-shadow: inset 0 0 3px 3px #00000030;
    }
}

.onlineChallenges {
    background: none;
    color: #36769D;
    border: none;
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration: underline;
    margin: 0 0 60px;

    &:hover {
        color: #205c82;
    }
}

/*  vvv  Testimonials  vvv  */

.testimonials {
    display: flex;
}

.quote1 {
    display: flex;

    img {
        margin: 0 25px;
        width: 75px;
        height: 75px;
    }

    cite {
        font-size: 2.4rem;
    }

    p {
        font-size: 1.8rem;
        margin: 8px 0;
    }
}

/*  ^^^  Testimonials  ^^^  */

.popularChallenges {
    margin: 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-weight: normal;
        margin: 40px 20px 20px;
    }
}

.challengeCards_sideScroll {
    display: flex;
    justify-content: center;
    width: 1300px;
    height: fit-content;
    gap: 40px;
    background-color: #bababa;
}

.roomCard {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    width: 363px;
    height: 446px;
    border-radius: 9px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
    background-color: #36769d00;

    .roomCardImg {
        display: block;
        width: 363px;
        min-height: 219px;
        background-image: url("img/roomCard.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #36769D;
        border-radius: 9px 9px 0 0;
    }

    h3 {
        margin: 12px 0 0 17px;
    }

    .rating {
        display: flex;
        width: 250px;
        height: fit-content;
        margin: 3px 0 0 20px;
    }

    .star {
        width: 15px;
        height: 15px;
        background-image: url('img/star_red.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 7px;
    }

    .no_star {
        width: 15px;
        height: 15px;
        background-image: url('img/no_star_red.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 7px;
    }

    span {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.8rem;
        margin: 15px;
    }

    .roomCardButton {
        color: #fff;
        background-color: #E3170A;
        border: none;
        border-radius: 4px;
        font-size: 1.6rem;
        font-weight: bold;
        width: 179px;
        height: 44px;
        margin: 5px 20px 10px 21px;
        align-self: flex-end;

        &:hover {
            background-color: #d00e00;
        }

        &:active {
            box-shadow:
                inset 0 0 3px 3px #00000049;
        }
    }

}

.buttonContainer_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    .onSiteBtn1 {
        border: 1px solid black;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);

        &:hover {
            background-color: #7dc5dd;
        }

        &:active {
            box-shadow:
                0 3px 8px rgba(0, 0, 0, 0.6),
                inset 0 0 3px 3px #00000030;
        }
    }

    /*  See .buttonContainer_1 to edit buttons  */

}

/*  Part 2 End ^^^, Buttons, Testimonials, Challenge cards  */


/*  Part4 /start  Our Story / Booking / Play online     */

.ourStory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #011827;
    width: 100%;
    height: auto;

    p {
        margin: 80px 0 0;
        padding: 10px;
        font-size: 2.8rem;
        color: #fff;
        text-align: center;
    }

    .storyButton {
        color: #8ACFE5;
        background-color: #8acee500;
        border: 2px solid #8ACFE5;
        border-radius: 4px;
        font-size: 2.4rem;
        font-weight: bold;
        width: 308px;
        height: 66px;
        margin: 35px 0 70px;
    }
}

.bookOn-site_AllChallenges_Container {
    display: block;

    @media screen and (min-width: 800px) {
        display: flex;

    }

    .imageContainer {

        overflow: hidden;
        width: 100%;
        height: auto;
        position: relative;

        img {
            width: 100%;
            height: auto;
            position: relative;
            top: -10px;
            margin-bottom: -35px;
        }
    }

    h2 {
        margin: 25px;
    }

    p {
        font-size: 2.4rem;
        margin: 25px;
    }

    button {
        color: #fff;
        background-color: #E3170A;
        border: none;
        border-radius: 4px;
        font-size: 2.4rem;
        font-weight: bold;
        width: 308px;
        height: 66px;
        margin: 35px 0 70px 21px;
    }

    .paddingSpace {
        height: 0;
    }
}

/*  Part4 /end  Our Story / Booking / Play online     */

/*      Footer      */

.footerContaier {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #011827;
    color: #fff;
    height: 566px;
    padding: 45px 22px;
    margin: 0;
    width: 100%;

    h4 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 6px;
    }

    p {
        font-size: 1.8rem;
    }

    li {
        font-size: 1.8rem;
        list-style: none;
    }

    .listSpace {
        height: 15px;
    }
}

/*      Footer End     */

/*  !!!! OLD !!! Scrolling tiles   */
/*
.cards {
    display: flex;
    justify-content: center;
}

.card {
    width: 363px;
    height: 446px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);


    .tileImg {
        padding: 0;
        border-radius: 10px 10px 0 0;
        width: 100%;
    }

    h3 {
        margin-top: 5px;
        font-size: 2.8rem;

    }

    .stars {
        display: flex;
        align-items: center;

        img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }


    span {
        margin: 5px 0;
    }

    button {
        background-color: #E3170A;
        color: #fff;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        align-self: flex-end;
    }
}
*/
/*  !!!! OLD !!! Scrolling tiles   */